/*********
FONT FACE
**********/
@font-face {
    font-family: AvenirNextUltraLight;
    src: url('../font/avenirnext-ultralight.eot');
    src: url('../font/avenirnext-ultralight.eot?#iefix') format('embedded-opentype'),
    url('../font/avenirnext-ultralight.woff') format('woff'),
    url('../font/avenirnext-ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTBook;
    src: url('../font/avenirLTBook.eot');
    src: url('../font/avenirLTBook.eot?#iefix') format('embedded-opentype'),
    url('../font/avenirLTBook.woff') format('woff'),
    url('../font/avenirLTBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AvenirLTBookOblique;
    src: url('../font/avenirLTBookOblique.eot');
    src: url('../font/avenirLTBookOblique.eot?#iefix') format('embedded-opentype'),
    url('../font/avenirLTBookOblique.woff') format('woff'),
    url('../font/avenirLTBookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/***********
GENERAL CSS
************/
html {
    background: url('../img/transperaBG.png') no-repeat scroll center center / 100% 100%;
    height: 100%;
    margin: 0;
    width: 100%;
}

body, div.container {
    height: 100%;
    margin: 0;
    width: 100%;
}

.clear {
    clear: both;
}

div.splashBody {
    margin: 0 auto;
    max-width: 1366px;
}

footer.splashFooter {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: table;
    height: 150px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

div.splashLeft,
div.splashRight {
    display: table;
    height: calc(100vh - 150px);
}

div.splashRight {
    padding-top: 20px;
}

div.countDownWrapper,
div.splashRightWrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

a.socialLinks {
    display: inline-block;
    text-decoration: none;
    width: 30%;
}

p.footerPar {
    color: #ffffff;
    font-family: AvenirLTBook;
    font-size: 20px;
}

div.footerContents {
    margin: 0 auto;
    width: 17%;
}

div.footerContents > p {
    margin: 25px 0;
}

div.splashLeft,
div.splashRight {
    float: left;
    width: 50%;
}

div.countDownBlock {
    float: left;
    position: relative;
    width: 25%;
}

div.countDownCont {
    padding-top: 100px;
}


span.countdownElms {
    color: #ffffff;
    display: block;
}

span.countdownElms {
    color: #ffffff;
    display: block;
    font-family: AvenirNextUltraLight;
    font-size: 63px;
}

span.countdownElms::after {
    content: ":";
    position: absolute;
    right: 0;
}

span.secCount::after {
    display: none;
}

span.countDownLabels {
    color: #ffffff;
    font-family: AvenirNextUltraLight;
    font-size: 18px;
}

div.comingSoonCont {
    padding-top: 100px;
}

h3.comingSoon {
    color: #ffffff;
    font-family: AvenirLTBookOblique;
    font-size: 39px;
    font-weight: normal;
    margin: 0;
}